@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@200&display=swap');

*{

    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    height: 80vh;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    flex: 0.5;
    transition: flex 0.7s ease-in;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: relative;
}

.panel h3{
    font-size: 24px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 30%;
    margin: 0px;
    opacity: 0;
    
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 600px) {
.container{
    width: 100vw;
}

.panel:nth-of-type(4),.panel:nth-of-type(5){
display: none;
}
}    
